{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Indexer</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/script.js" ></script>
</head>
<body>
    {{ template "header" }}
    {{ template "search" }}
    {{ template "footer" }}
</body>
</html>
{{ end }}
